<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <title>Prime Numbers</title>
        <link rel="stylesheet" href="../../public/css/styles.css">
    </head>
    <body class="container">
        {{{body}}}
        <script src="../../public/js/form.js"></script>
    </body>
</html>