<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
</head>
<body>
    <p>
        Unable to access web page. Please provide the correct information to access the page. 
    </p>
    <form action="/login">
        <input type="submit" value="Return Home">
    </form>
</body>