<form method="post" class="server-form">
    <h1><label for="prime">Prime Number Checker</label></h1>
    <textarea name="number" id="prime" cols="50" rows="3"></textarea><br>
    <button type="submit">Check</button>
</form>
<div id="error-container" class="hidden"></div>
<div>
    <ol id="attempts">
    </ol>
</div>
<footer>
    <div>
        <ul id="student-info">
            <li>Name: Christopher Rudel</li>
            <li>Student ID: 10413032</li>
            <li>Other information: I like cats</li>
        </ul>
    </div>
</footer>